<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>Tag</key>
            <string>Montag</string>
            <key>Sessions</key>
            <array>
                <dict>
                    <key>Session</key>
                    <string>Keynote-Panel: Alles neu in der iPhone Welt</string>
                    <key>Speaker</key>
					<string>Conradi, Tobias\nGentz, Ortwin\nGünther, Sven\nWessel, Ivo</string>
                    <key>Room</key>
                    <string>Track 1</string>
                    <key>Abstract</key>
					<string>Auf Apple's WWDC 2014 wurde das neue mobile Betriebssystem iOS 8 vorgestellt und mit Swift eine moderne und innovative Programmiersprache. Zur Eröffnung der IPDC 2014 stellen Ihnen die Experten die wichtigsten Neuerungen vor. \n\tiOS 8: alles neu, Möglichkeiten aber auch Stolperfallen\n\tTakt der iOS Updates immer schneller\n\tSwift (oder doch das gute alte Objective-C?)\n\tganz neu: Apple Health, HomeKit, CloudKit, Adaptive UserInterface\n\tAusblick: Apple Watch</string>
                </dict>
                <dict>
                    <key>Session</key>
                    <string>iOS 8</string>
                    <key>Speaker</key>
                    <string>Conradi, Tobias</string>
                    <key>Room</key>
                    <string>Track 1</string>
                    <key>Abstract</key>
					<string>Auf der WWDC 2014 stellte Apple mit iOS 8 eines der größten Releases für Entwickler seit der Einführung des iPhone SDKs vor. Dieser Vortrag bietet einen Überblick über die wichtigsten Neuerungen in iOS wie size classes, extensions und vieles mehr. (Bis November erwarten wir noch einige Neuigkeiten, auch diese werden eingebaut.)</string>
                </dict>
				<dict>
					<key>Session</key>
					<string>Gelungene App-Lokalisierung - das Umschiffen sprachlicher Untiefen</string>
					<key>Speaker</key>
					<string>Lotze, Felix\nGurtschmann, Oliver</string>
					<key>Room</key>
					<string>Track 1</string>
					<key>Abstract</key>
					<string>Mit den App Stores sind viele Hürden für das globale Anbieten von Programmen überwunden. Nur eine ist noch verblieben: die eigentliche Bereitstellung von Apps in den jeweiligen Sprachen. Wer sich für die Lokalisierung seiner App entscheidet, wird auf seinem Weg unweigerlich verschiedenste Hindernisse überwinden müssen. In diesem Vortrag möchten wir Techniken und Vorgehensweisen näher bringen, mit denen sich die gröbsten Stolperfallen bei der Umsetzung umschiffen lassen, damit weder der internationale User noch der Entwickler Schiffbruch erleiden.</string>
				</dict>
				<dict>
					<key>Session</key>
					<string>iBeacon Modelle und Einsatzmöglichkeiten</string>
					<key>Speaker</key>
					<string>Wessel, Ivo</string>
					<key>Room</key>
					<string>Track 1</string>
					<key>Abstract</key>
					<string>Der Markenname iBeacon ist ein 2013 von Apple Inc. eingeführter, proprietärer Standard für Navigation in geschlossenen Räumen, basierend auf Bluetooth Low Energy (BLE). Ivo Wessel stellt in dieser Session die verschiedenen Modelle und Einsatzmöglichkeiten vor.</string>
				</dict>
				<dict>
					<key>Session</key>
					<string>Einführung in Entwicklung und Vertrieb von Mobile Indie Games</string>
					<key>Speaker</key>
					<string>Wessel, Ivo</string>
					<key>Room</key>
					<string>Track 1</string>
					<key>Abstract</key>
					<string>Wir starten mit einer Nachbetrachtung der Entwicklung des Indie Games ... and then it rained, angefangen bei der ersten Idee, über die Konzeption, Entwicklung, die Veröffentlichung bis hin zur Post-­‐Release Phase. Unter anderem werden dabei folgende Fragen betrachtet: \nWelche Technologien und Werkzeuge kamen zum Einsatz?\nWie wurde Marketing und Pressearbeit gemacht?\nWie hat sich das Spiel verkauft und wie haben sich die Zahlen entwickelt?\nWas lief positiv und welche Fehler wurden gemacht?\nWas unterscheidet „Indie Game Development“ von der klassischen Spieleentwicklung großer Studios oder Publisher?\nAbschließend werfen wir einen Blick auf den gegenwärtigen Stand des Mobile Markts und diskutieren, wie und ob man als unabhängige Entwickler in Zukunft noch erfolgreich „Indie Games“ für mobile Märkte produzieren kann.</string>
				</dict>
            </array>
        </dict>
        <dict>
            <key>Tag</key>
            <string>Dienstag</string>
            <key>Sessions</key>
            <array>
                <dict>
                    <key>Session</key>
                    <string>Migration zu iOS 8 mit Swift</string>
                    <key>Speaker</key>
                    <string>Ivo Wessel</string>
                    <key>Room</key>
                    <string></string>
                    <key>Abstract</key>
                    <string>Dieser Workshop zeigt im Detail und anhand vieler praxisgerechter Beispiele, wie Sie Ihre Applikationen aktualisieren und die neuen Möglichkeiten optimal nutzen können – damit Sie für die Zukunft namens iOS 8 gerüstet sind. Hier darf auch der Objective-C Nachfolger "Swift" nicht zu kurz kommen.</string>
                </dict>
                <dict>
                    <key>Session</key>
                    <string>iOS-Entwicklung automatisiert vom Test bis zum Deployment</string>
                    <key>Speaker</key>
                    <string>Günther, Sven\nBohlmann, Holger</string>
                    <key>Room</key>
                    <string></string>
                    <key>Abstract</key>
                    <string>Wir entwickeln gemeinsam eine App nach professionellen Methoden. Dazu gehören Akzeptanz- und Unit-Tests sowie ein Continuous Deployment System mit Jenkins. Wir testen damit automatisiert eine Beispiel-App und stellen nach jedem Commit unsere Ergebnisse als Download zur Verfügung. Wir zeigen, wie man Poduktivcode testgetrieben entwickelt und schon zu Beginn Akzeptanz-Tests aufbaut. Somit haben wir früh einen Walking Skeleton, den wir dann schrittweise anhand von kurzen User-Stories weiter ausbauen.</string>
                </dict>
            </array>
        </dict>
    </array>
</plist>
